/* This file has styles to create specific appearances in the blog */

.blink {
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    from, to { opacity: 0; }
    50% {opacity: 1;}
}

/* Style of the images in the about page */
.about-avatar {
    width: 200px;
    height: 200px;
    padding-right: 1rem;
    float: left;
}

.center-links {
    text-align: center;
}

.image-center {
    text-align: center;
    padding-top: 1rem;
}

.about-personal-links {
    text-align: center;
    padding-top: 1rem;
}
.about-personal-links a {
    padding-left: 1rem;
}

/* base colors filters */
.base00-filter {
    filter: invert(20%) sepia(0%) saturate(24%) hue-rotate(144deg) brightness(100%) contrast(109%);
}
.base01-filter {
    filter: invert(22%) sepia(0%) saturate(4098%) hue-rotate(36deg) brightness(109%) contrast(111%);
}
.base02-filter {
    filter: invert(29%) sepia(1%) saturate(1966%) hue-rotate(67deg) brightness(99%) contrast(83%);
}
.base03-filter {
    filter: invert(46%) sepia(10%) saturate(304%) hue-rotate(17deg) brightness(94%) contrast(88%);
}
.base04-filter {
    filter: invert(100%) sepia(0%) saturate(76%) hue-rotate(216deg) brightness(67%) contrast(75%);
}
.base05-filter {
    filter: invert(93%) sepia(13%) saturate(116%) hue-rotate(6deg) brightness(90%) contrast(88%);
}
.base06-filter {
    filter: invert(99%) sepia(3%) saturate(504%) hue-rotate(344deg) brightness(98%) contrast(85%);
}
.base07-filter {
    filter: invert(95%) sepia(0%) saturate(387%) hue-rotate(175deg) brightness(115%) contrast(88%);
}
.base08-filter {
    filter: invert(62%) sepia(28%) saturate(3705%) hue-rotate(313deg) brightness(107%) contrast(89%);
}
.base09-filter {
    filter: invert(54%) sepia(99%) saturate(374%) hue-rotate(330deg) brightness(106%) contrast(95%);
}
.base0a-filter {
    filter: invert(78%) sepia(41%) saturate(649%) hue-rotate(338deg) brightness(105%) contrast(102%);
}
.base0b-filter {
    filter: invert(94%) sepia(2%) saturate(5412%) hue-rotate(65deg) brightness(85%) contrast(82%);
}
.base0c-filter {
    filter: invert(85%) sepia(79%) saturate(877%) hue-rotate(155deg) brightness(83%) contrast(91%);
}
.base0d-filter {
    filter: invert(54%) sepia(54%) saturate(375%) hue-rotate(169deg) brightness(96%) contrast(87%);
}
.base0e-filter {
    filter: invert(69%) sepia(47%) saturate(239%) hue-rotate(251deg) brightness(89%) contrast(90%);
}
.base0f-filter {
    filter: invert(60%) sepia(41%) saturate(650%) hue-rotate(332deg) brightness(85%) contrast(92%);
}

/* hue rotation filters */
.hue-0 {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
}
.hue-45 {
    -webkit-filter: hue-rotate(45deg);
    filter: hue-rotate(45deg);
}
.hue-90 {
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}
.hue-135 {
    -webkit-filter: hue-rotate(135deg);
    filter: hue-rotate(135deg);
}
.hue-180 {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
}
.hue-225 {
    -webkit-filter: hue-rotate(225deg);
    filter: hue-rotate(225deg);
}
.hue-270 {
    -webkit-filter: hue-rotate(270deg);
    filter: hue-rotate(270deg);
}
.hue-315 {
    -webkit-filter: hue-rotate(315deg);
    filter: hue-rotate(315deg);
}

.hollywood-cerise { color: #D80090; }