</div>

<footer>
  <div class="container">

    <div class="center-links">
      <a href="https://www.youtube.com/channel/UC2S8zlHJ17-b5Vufm-uwNVA" aria-label="linkedin"><i
          class="base08 fab fa-youtube fa-2x"></i></a>
    </div>

    <span class="copyright">&copy; {{ .Site.LastChange.Year }} {{ .Site.Title }} - <a rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></span>
  </div>
</footer>

</body>

</html>