<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
{{- with $.Param "keywords" }}
<meta name="keywords" content="{{ delimit . "," }}">
{{- end }}
{{- with $.Param "author" }}
<meta name="author" content="{{ . }}">
{{- end }}
{{ hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css">
<link rel="stylesheet" href="/blog/css/utils.css" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="alternate" href="{{ "index.xml" | relURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}</title>
</head>

<!-- Import js files -->
<script type="text/javascript" src="/blog/js/utils.js"></script>

<body>

<header>
  <div class="container clearfix">
    <a class="base0a"><b>pixelated-kraken@home:~$</b></a>
    <a class="base07" href="{{ .Site.BaseURL }}"><{{ .Site.Params.blogName }}/></a>
    <a class="base07" href="{{ .Site.Params.aboutUrl }}"><{{ .Site.Params.aboutName }}/></a>
    <a class="base07" href="{{ .Site.Params.contactUrl }}"><{{ .Site.Params.contactName }}/></a>
    <a class="base07 blink">█</a>
    <div class="right">
      {{ range $i, $page := (where .Site.Pages "Section" "pages") }}
        {{ if not (eq $i 0) }}|{{ end }}
        <a class="path" href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      {{ end }}
    </div>
  </div>
</header>

<div class="container">
