{{ $baseurl := .Site.BaseURL }}

<!-- Pixelated Kraken logo -->
<h1 class="site-title">
  <img class="random_filter" src="/blog/img/PixelatedKrakenLogo.png">
  <span class="random_color">P</span><span class="random_color">i</span><span class="random_color">x</span><span
    class="random_color">e</span><span class="random_color">l</span><span class="random_color">a</span><span
    class="random_color">t</span><span class="random_color">e</span><span class="random_color">d</span>
  <span class="random_color">K</span><span class="random_color">r</span><span class="random_color">a</span><span
    class="random_color">k</span><span class="random_color">e</span><span class="random_color">n</span>
</h1>

<!-- Hide temporally
<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Add your own "<code>layouts/partials/hero.html</code>" to replace this text.
</div>
-->

<!-- Execute js functions -->
<script>
  AddClassRandomHueFilter();
  AddClassRandomColor();
</script>